/* background-animation.css */

@keyframes backgroundAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .bg-animation {
    animation: backgroundAnimation 10s linear infinite;
    background: linear-gradient(to right, #2c3e50, #8e44ad); /* Black to Purple gradient */
    background-size: 200% 100%;
  }
  